.App {
  font-family: sans-serif;
}

header {
  background-color: #0077c2;
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

section {
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  max-width: 600px;
}

section h2 {
  margin-top: 0;
  color: #0077c2;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
}

button {
  background-color: #0077c2;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #005fa3;
  transform: scale(1.05);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.result label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.result span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0077c2;
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
